html,body
{
    width: 100%;
    height: 100%;
}


h2 {
  color: white;
  font-size: 4em;
}

.buttoncontainer a {
  position: relative;
  top: 0px;
}

.buttoncontainer span {
  position: relative;
  top: -4px;
}



.topbarbackground {
  background: #54b997;
  height: 4%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.topbar {
  position: absolute;
  left: 50%;
}

.topbarsocialcontainer {
  position: relative;
  right: 58%;
  z-index: 2;
  top: -2.75em;
}

.buttoncontainer {
  position: relative;
  right: 45%;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: .4s;
  cursor: pointer;
}

#eventButton {
  height: 100%;
  position: relative;
  left: 0;
  background-color: #4CAF50;
  color: white;
  border: 2.25px solid #4CAF50;
  padding: 9px 20px;
}

#eventButton:hover {
  background-color: white;
  color: black;
}


#joinButton {
  height: 100%;

  position:relative;
  left: -5px;
  background-color: #4CAF50;
  color: white;
  border: 2.25px solid #4CAF50;
  padding: 9px 20px;

}

#joinButton:hover {
  background-color: white;
  color: black;
}


#donateButton {
  height: 100%;

  position:relative;
  left: -10px;
  background-color: #4CAF50;
  color: white;
  border: 2.25px solid #4CAF50;
  padding: 9px 20px;
}

#donateButton:hover {
  background-color: white;
  color: black;
}

.topbar p {
  font-size: 1em;
  position: absolute;
  right: 150%;
  z-index: 2;
  color: white;
  top: -.75em;
  height: 100%;
  width: 60%;
  letter-spacing: .1em;
  font-weight: bold;
}


.fa {
  position: absolute;

 padding: 9px;
 font-size: 1em;
 width: 40px;
 text-align: center;
 text-decoration: none;
}

.fa:hover {
 opacity: 0.7;
}



.topbar .fa-facebook {
  position: absolute;
  left: 18.25em;
 background: #3B5998;
 color: white;


}

.topbar .fa-instagram {
  position: absolute;
  left: 20.85em;

  background: #125688;
 color: white;

}


.topbar .fa-twitter {
  position: absolute;
  left: 23.5em;
  background: #55ACEE;
  color: white;
}

.topbar .fa-youtube {
  position: absolute;
  left: 26.25em;
  background: #bb0000;
  color: white;
}

.logo {
  position: relative;
  top: 1.5em;
  left: 30em;
  width: 50%;
  height: 100px;
}





.navbar {
  margin: 0 auto;
}

nav {
  z-index: 1;
}


nav ul {
  position: relative;
  bottom: 4em;
  left: 10em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-left: 25px;
  padding-top: 15px;

}

nav a {
  color: #2b6054;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}

nav a:hover {
  color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #54b997;

    position: absolute;
    top: 40px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}







.navbarbackground {
  background: white;
  height: 10%;
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
}




* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0; }
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  top: 1em;
  margin-top: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 10em;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transition: 0.6s ease;
  border-radius: 25px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 4em;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 4em;
  border-radius: 3px 0 0 3px;
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  top: -5em;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;


}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



.missioncontainer {
  width: 74%;
  height: 30em;
  margin: auto;

  position: relative;
  top: 4em;
  background-color: #5D6E1E;
  font-family: 'Anson', arial;
  color: white;
  padding-left: 5em;
}

.missioncontainer h1 {
  font-size: 5em;
  font-weight: 900;
  padding-top: .25em;
}

.missioncontainer h3 {
  font-size: 2em;
  font-weight: 900;
  position: relative;
  top: -1em;
}

.missioncontainer p {
  max-width: 35em;
  font-size: 1.25em;
}


.missioncontainer img {
  position: absolute;
  max-height: 100%;
  height: 100%;
  object-fit: contain;
  right: 0;

}


#learnmore {
  position: absolute;
  bottom: 1em;
  right: 12em;
  padding: 25px;
  margin: 15px;
  border-style: solid;
  border-radius: 15px;
  border-width: thick;
  border-color: white;
  display: inline;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

#learnmorelink {
  text-decoration: none;
  color: black;
}



#learnmorelink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#learnmorelink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.currentprojectcontainer {
  width: 100%;
  height: 45em;
  margin-top: 15em;
  background-color: #02704e;
  z-index: -1;

}

.imagebox {
  position: relative;
  top: 13%;
  left: 13%;

}

.fling-minislide {width:50%; height:35%; padding-bottom: 25%; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 12s infinite; opacity:0; width: 100%; height: auto; z-index: 0;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:3s;}
.fling-minislide img:nth-child(2){animation-delay:6s;}
.fling-minislide img:nth-child(1){animation-delay:9s;}


.currentprojectbox {
  position: relative;
  width: 35%;
  height: 60%;
  background-color: #54b997;
  z-index: 2;
  top: -60%;
  left: 52%;
  opacity: .9;
  padding-left: 1em;
}

.currentprojectbox h1 {
  color: white;
  padding-top: .8em;
  font-size: 1.3em;
  font-weight: bold;
}



.currentprojectbox h3 {
  color: white;
  font-size: 4em;
  position: relative;
  top: 2.4em;
  font-weight: bold;
  line-height: 1.3;
}



/* #currentprojectlearnmore {
  position: absolute;
  top: 18em;
  left: 2em;
  padding: 25px;
  margin: 15px;
  border-style: solid;
  border-radius: 15px;
  border-width: thick;
  border-color: white;
  display: inline;
  font-size: 1em;
  font-weight: bold;
  color: white;
}


#currentprojectlearnmorelink {
  text-decoration: none;
  color: black;
}



#currentprojectlearnmorelink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#currentprojectlearnmorelink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */



#currentprojectlearnmore {
  position: absolute;
  top: 22em;
  left: -1em;
  padding: 25px;
  margin: 15px;

  display: inline;
  font-size: 1em;
  font-weight: bold;
  color: white;
}


#currentprojectlearnmorelink {
  text-decoration: none;
  color: black;
}



#currentprojectlearnmorelink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#currentprojectlearnmorelink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* #currentprojectdonate {
  position: absolute;
  top: 18em;
  left: 14em;
  padding: 25px;
  margin: 15px;
  border-style: solid;
  border-radius: 15px;
  border-width: thick;
  border-color: white;
  display: inline;
  font-size: 1em;
  font-weight: bold;
  color: white;
}


#currentprojectdonatelink {
  text-decoration: none;
  color: black;
}



#currentprojectdonatelink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#currentprojectdonatelink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */


.textbox h1 {
  color: #5D6E1E;
  font-size: 4.5em;
  font-weight: 500;
  position: relative;
  top: 2em;
  left: 2.25em;
}

.textbox p {
  color: #5D6E1E;
  position: relative;
  top: 7em;
  left: 6.75em;
  font-size: 1.5em;
  max-width: 25em;
}



 .slideshowthing {
  width: 27em;
  height: 27em;
  position: relative;
  bottom: -12em;
  left: 10.5em;
}



.servicescontainer .slideshowthing img {
  object-fit: cover;

}




.serviceboxes {
  position: relative;
  top: -39em;
  right: -23em;
  color: #5D6E1E;
  opacity: 1;
  background-color: #94B447;
}

.serviceboxes h1 {
  position: relative;
  left: 9em;
  top: 1.75em;
  font-weight: 100;
  font-size:2.5em;
}


.serviceboxes p {
  position: relative;
  font-weight:normal;
  left: 40%;
  top: 5em;
}






#COVID-19box {
  width: 50%;
  height:15em;
  margin: auto;
}


#COVID-19box img {
  position: absolute;
  max-height: 100%;
  height: 100%;
  left: 0;
  width: 20em;

}







#BethanyHousebox {
  width: 50%;

  height:15em;
  margin: auto;
}


#BethanyHousebox img {
  position: absolute;
  max-height: 100%;
  height: 100%;
  left: 0;
  width: 20em;

}





#candlelightvigilbox {
  width: 50%;

  height:15em;
  margin: auto;
}


#candlelightvigilbox img {
  position: absolute;
  max-height: 100%;
  height: 100%;
  width: 20em;
  left: 0;

}



#seemore {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  margin: auto;
  border-style: solid;
  border-width: medium;
  border-color: #94B447;
  display: inline;
  font-size: 3em;
  font-weight: medium;
  color: #94B447;
  letter-spacing: normal;
}

#seemorelink {
  text-decoration: none;
  color: black;
  position: relative;
  top: -33em;
  left: 38.5%;
}



#seemorelink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#seemorelink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}













.witicontainer {
  width: 100%;
  height: 50em;
  background-color: #02704e;
  position: relative;
}



.witicontainer h1 {
  color: white;
  font-size: 6em;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin: 0 auto;
}



.witicontainer p {
  color: white;
  position: relative;
  font-weight:normal;
  max-width: 50em;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
}


*{ border: 1px solid red; }



#moreabout {
  padding: 10px 20px;
  border-style: solid;
  border-width: medium;
  border-color: #54b997;
  font-size: 3em;
  font-weight: medium;
  color: #54b997;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5%;
}

#moreaboutlink {
  text-decoration: none;

}



#moreabout:hover {
  background-color: #54b997;
  color: white;
}









.footercontainer {
width: 100%;
height:27%;
position: relative;
background-color: #54b997;

}


.footerlogo {
  position: relative;

  width: 10%;
  height: 10%;
  left: 50%;
  top: 3em;

}

.footercontainer .fa {
  position: absolute;

 padding: 1em;
 font-size: 1.5em;
 width: 3em;
 text-align: center;
 text-decoration: none;
 border-radius: .2em;
}

/* Add a hover effect if you want */
.footercontainer .fa:hover {
 opacity: 0.7;
}



.footercontainer .fa-facebook {
  position: relative;
 background: #3B5998;
 color: white;
right: 0;
margin-left: .3em;
margin-right: .3em;

}

.footercontainer .fa-instagram {
  position: relative;
  background: #125688;
 color: white;
 right: 0;
 margin-left: .3em;
 margin-right: .3em;

}


.footercontainer .fa-twitter {
  position: relative;
  background: #55ACEE;
  color: white;
  right: 0;
  margin-left: .3em;
  margin-right: .3em;
}


.footercontainer .socialbuttons {
position: relative;
top: -1.5em;
left: 46.8%;
}

.footercontainer .fa-youtube {
    position: relative;
    background: #bb0000;
    color: white;
    right: 0;
    margin-left: .3em;
    margin-right: .3em;
}


#join {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border-style: solid;
  border-width: medium;
  border-color: white;
  display: inline;
  font-size: 2em;
  font-weight: bold;
  color: white;
  letter-spacing: normal;

}

#joinlink {
  text-decoration: none;
  color: white;
  position: relative;
  left: 46.5%;
  top: 0em;
}



#joinlink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#joinlink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




#donate {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border-style: solid;
  border-width: medium;
  border-color: white;
  display: inline;
  font-size: 2em;
  font-weight: bold;
  color: white;
  letter-spacing: normal;

}

#donatelink {
  text-decoration: none;
  color: white;
  position: relative;
  left: 48%;
  top: 0em;
}



#donatelink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#donatelink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.footerlist {
  list-style: none;

}

.footerlinkbox {
  position: absolute;
  top: 21%;
  left: 29%;
  font-size: 1.5em;
  color: white;
}

.footerlinkbox .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  text-decoration: none;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
