html,body
{
    width: 100%;
    height: 100%;

}



h2 {
  color: #7E7C7C;
  font-size: 4em;
display: inline-block;
}

.topbarbackground {
  background: #54b997;
  height: 4%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.topbar {
  position: absolute;
  left: 50%;
}

.topbarsocialcontainer {
  position: relative;
  right: 58%;
  z-index: 2;
  top: -2.75em;
}

.buttoncontainer {
  position: relative;
  right: 45%;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: .4s;
  cursor: pointer;
}

.buttoncontainer a {
  position: relative;
  top: 0px;
}

.buttoncontainer span {
  position: relative;
  top: -4px;
}

#eventButton {
  height: 100%;
  position: relative;
  left: 0;
  background-color: #4CAF50;
  color: white;
  border: 2.25px solid #4CAF50;
  padding: 9px 20px;
}

#eventButton:hover {
  background-color: white;
  color: black;
}


#joinButton {
  height: 100%;

  position:relative;
  left: -5px;
  background-color: #4CAF50;
  color: white;
  border: 2.25px solid #4CAF50;
  padding: 9px 20px;

}

#joinButton:hover {
  background-color: white;
  color: black;
}


#donateButton {
  height: 100%;

  position:relative;
  left: -10px;
  background-color: #4CAF50;
  color: white;
  border: 2.25px solid #4CAF50;
  padding: 9px 20px;
}

#donateButton:hover {
  background-color: white;
  color: black;
}

.topbar p {
  font-size: 1em;
  position: absolute;
  right: 150%;
  z-index: 2;
  color: white;
  top: -.75em;
  height: 100%;
  width: 60%;
  letter-spacing: .1em;
  font-weight: bold;
}


.fa {
  position: absolute;

 padding: 9px;
 font-size: 1em;
 width: 40px;
 text-align: center;
 text-decoration: none;
}

.fa:hover {
 opacity: 0.7;
}



.topbar .fa-facebook {
  position: absolute;
  left: 18.25em;
 background: #3B5998;
 color: white;


}

.topbar .fa-instagram {
  position: absolute;
  left: 20.85em;

  background: #125688;
 color: white;

}


.topbar .fa-twitter {
  position: absolute;
  left: 23.5em;
  background: #55ACEE;
  color: white;
}

.topbar .fa-youtube {
  position: absolute;
  left: 26.25em;
  background: #bb0000;
  color: white;
}


.logo {
  position: relative;
  top: 1.5em;
  left: 30em;
  width: 50%;
  height: 100px;
}





.navbar {
  margin: 0 auto;
}

nav {
  z-index: 1;
}


nav ul {
  position: relative;
  bottom: 4em;
  left: 10em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

}

nav li {
  display: inline-block;
  margin-left: 25px;
  padding-top: 15px;

}

nav a {
  color: #2b6054;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}

nav a:hover {
  color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: #54b997;

    position: absolute;
    top: 40px;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.navbarbackground {
  background: white;
  height: 10%;
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
}


.Eventscontainer {
  height: 50%;

}

.Eventscontainer h1 {
  color: white;
  font-size: 6.5em;
  text-align: center;
  position: relative;
  top: 1em;
  font-weight: bold;
  letter-spacing: 2px;

}


.gradient {
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(#54b997, white); /* Standard syntax (must be last) */
  height: 80%;
}

.upcoming {
  position: relative;
  top: -10%;
  width: 100%;
  height: 135%;
  background-color: white;
}

.upcoming h1 {
  color: rgb(116, 168, 93);
  text-align: center;
  position: relative;
  font-size: 45px;
  font-weight: bold;
  top: 5%;
  letter-spacing: 4px;
}


.upcoming .topbox {
  width: 60%;
  margin: auto;
  height: 500px;
  background-color: #54b997;
  position: relative;
  top: 10%;
}

.upcoming .bottombox {
  width: 60%;
  margin: auto;
  height: 500px;
  background-color: #54b997;
  position: relative;
  top: 250px;
}

.upcoming img {
  width: 45%;
  height: 85%;
  display: block;
  position: relative;
  left:3.0%;
  top: 7.5%;
}

.upcoming h2, h3 {
  color: rgb(231, 245, 231);
}

.upcoming .title {
  position: relative;
  top: -78%;
  left: 50%;
  font-size: 3.5em;
}

.upcoming .place {
  position: relative;
  top: -75%;
  left: 52.5%;
  font-size: 1.85em;
}


.upcoming .time {
  position: relative;
  top: -75%;
  left: 52.5%;
  font-size: 1.85em;
}


.upcoming .about {
  position: relative;
  top: -75%;
  left: 52.5%;
  font-size: 1.85em;
}

.upcoming p {
  color: white;
  position: relative;
  top: -85.8%;
  left: 59.5%;
  font-size: 20px;
  max-width: 450px;
}


.calendarbar {
  width: 60%;
  height: 55px;
  background-color:  #0eb079;
  margin: auto;
  position: relative;
  top: -15%;
}

.calendarbar p {
  font-size:  16px;
  position: relative;
  top: 15px;
  text-align: center;
  color: white;
}


.calendar {
  position: relative;
  top: -10%;
  left: 26%;
}

.imagebox img {
  width: 350px;
  height: 350px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
  margin-bottom: 25px;

  position: relative;
  top: -30px;
  left: 19%;
}







.footercontainer {
width: 100%;
height:27%;
position: relative;
background-color: #54b997;
}


.footerlogo {
  position: relative;

  width: 10%;
  height: 10%;
  left: 50%;
  top: 3em;

}

.footercontainer .fa {
  position: absolute;

 padding: 1em;
 font-size: 1.5em;
 width: 3em;
 text-align: center;
 text-decoration: none;
 border-radius: .2em;
}

/* Add a hover effect if you want */
.footercontainer .fa:hover {
 opacity: 0.7;
}



.footercontainer .fa-facebook {
  position: relative;
 background: #3B5998;
 color: white;
right: 0;
margin-left: .3em;
margin-right: .3em;

}

.footercontainer .fa-instagram {
  position: relative;
  background: #125688;
 color: white;
 right: 0;
 margin-left: .3em;
 margin-right: .3em;

}


.footercontainer .fa-twitter {
  position: relative;
  background: #55ACEE;
  color: white;
  right: 0;
  margin-left: .3em;
  margin-right: .3em;
}


.footercontainer .socialbuttons {
position: relative;
top: -1.5em;
left: 46.8%;
}

.footercontainer .fa-youtube {
    position: relative;
    background: #bb0000;
    color: white;
    right: 0;
    margin-left: .3em;
    margin-right: .3em;
}


#join {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border-style: solid;
  border-width: medium;
  border-color: white;
  display: inline;
  font-size: 2em;
  font-weight: bold;
  color: white;
  letter-spacing: normal;

}

#joinlink {
  text-decoration: none;
  color: white;
  position: relative;
  left: 46.5%;
  top: 0em;
}



#joinlink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#joinlink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




#donate {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border-style: solid;
  border-width: medium;
  border-color: white;
  display: inline;
  font-size: 2em;
  font-weight: bold;
  color: white;
  letter-spacing: normal;

}

#donatelink {
  text-decoration: none;
  color: white;
  position: relative;
  left: 48%;
  top: 0em;
}



#donatelink .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#donatelink .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.footerlist {
  list-style: none;

}

.footerlinkbox {
  position: absolute;
  top: 21%;
  left: 29%;
  font-size: 1.5em;
  color: white;
}

.footerlinkbox .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  text-decoration: none;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
